.figure {
    position: relative;
    margin-top: 3rem;
    width: 30rem;
    box-shadow: $box-shadow;
    border-radius: .3rem;
    border: .2rem solid $color-primary;
    

    
    &__img {
        width: 100%;
        filter: grayscale(100%);
        transition: filter 1.2s;
        
        
        &:hover {
            filter: grayscale(0);
        }
    }

    &__caption {
        width: 100%;
        text-align:center;
        font-family: Lato, sans-serif;
        font-size: $font-size-default;
        font-weight: 600;
        color: $color-grey-light;
    }

    &__icon {
        position: absolute;
        top: 1rem;
        right: 1rem;
        padding: .5rem;
        z-index: 10;
        

        &:hover {
            cursor: pointer;
            transform: scale(1.05);
        }
    }
}