*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  background-color: #333; }

body {
  font-family: Lato, sans-serif;
  font-weight: 400;
  line-height: 1.7; }

.form-container {
  box-sizing: border-box;
  max-width: 100rem;
  display: block;
  margin: auto; }

.form {
  width: 100%;
  color: #ffaf4d;
  background-color: #000;
  font-size: 1.6rem;
  padding: 3rem;
  border-radius: .3rem;
  box-shadow: 1rem 2rem 2rem rgba(0, 0, 0, 0.2); }
  .form__label, .form__text {
    display: inline-block;
    padding: .5rem; }
  .form__text {
    width: 100%;
    font-size: 1.6rem;
    border: .1rem solid transparent;
    border-radius: .3rem; }
  .form__btn {
    display: block;
    margin: auto;
    margin-top: 1rem;
    color: #000;
    background-color: #ff8c00;
    font-size: 1.6rem;
    text-decoration: none;
    padding: 1rem 4rem;
    border: 0.1rem solid #e67e00;
    border-radius: 1.8rem;
    outline: none; }
    .form__btn:hover {
      transform: translateY(-0.1rem); }
    .form__btn:active {
      transform: translateY(0.1rem); }

.imageList {
  display: flex;
  max-width: 100rem;
  margin: 0 auto;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between; }

.figure {
  position: relative;
  margin-top: 3rem;
  max-width: 40rem;
  box-shadow: 1rem 2rem 2rem rgba(0, 0, 0, 0.2);
  border-radius: .3rem;
  border: 0.2rem solid #ff8c00;
  flex-basis: 30rem; }
  .figure__img {
    max-width: 100%;
    filter: grayscale(100%);
    transition: filter 1.2s; }
    .figure__img:hover {
      filter: grayscale(0); }
  .figure__caption {
    width: 100%;
    text-align: center;
    font-family: Lato, sans-serif;
    font-size: 1.6rem;
    font-weight: 600;
    color: #ccc; }
  .figure__icon {
    position: absolute;
    top: 1rem;
    right: 1rem;
    padding: .5rem;
    z-index: 10; }
    .figure__icon:hover {
      cursor: pointer;
      transform: scale(1.05); }
